/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 11, 2014, 6:22:46 PM
    Author     : anton
*/

.bold-title{
    font : bold 16px cursive;
    color : darkred;
}